@model ProfileEditor
@{
    ViewData["Title"] = "Edit Profile";
}

//#if (IsTailwind)
<section class="mx-auto max-w-6xl mb-20">
    <h1 class="text-2xl text-gray-800 font-bold mb-4">
        Profile
    </h1>
    <article class="bg-white shadow rounded-lg w-full my-12 p-6">
        <h2 class="text-xl font-medium mb-2">
            Profile Information
        </h2>
        <p class="text-gray-600">
            Update your account's profile information.
        </p>
        @{
            await Html.RenderPartialAsync("_ProfileInformationEditor", Model.ProfileInfoEditor); 
        }
    </article>
    <article class="bg-white shadow rounded-lg w-full my-12 p-6">
        <h2 class="text-xl font-medium mb-2">
            Update Password
        </h2>
        <p class="text-gray-600">
            Update your accounts current password.
        </p>
        @{
            await Html.RenderPartialAsync("_ProfilePasswordEditor", Model.ProfilePasswordEditor);
        }
    </article>
</section>
//#endif
﻿//#if (IsPico)
<section>
    <h1>
        Profile
    </h1>
    <article>
        <h2>
            Profile Information
        </h2>
        <p>
            Update your account's profile information.
        </p>
        @{
            await Html.RenderPartialAsync("_ProfileInformationEditor", Model.ProfileInfoEditor);
        }
    </article>
    <article>
        <h2>
            Update Password
        </h2>
        <p>
            Update your accounts current password.
        </p>
        @{
            await Html.RenderPartialAsync("_ProfilePasswordEditor", Model.ProfilePasswordEditor);
        }
    </article>
</section>
//#endif
﻿//#if (IsBootstrap)
<section class="container py-5 my-5">
    <h1 class="mb-5 fw-bold">
        Profile
    </h1>
    <article class="p-5 my-5 shadow rounded bg-white">
        <h2>
            Profile Information
        </h2>
        <p>
            Update your account's profile information.
        </p>
        @{
            await Html.RenderPartialAsync("_ProfileInformationEditor", Model.ProfileInfoEditor);
        }
    </article>
    <article class="p-5 my-5 shadow rounded bg-white">
        <h2>
            Update Password
        </h2>
        <p>
            Update your accounts current password.
        </p>
        @{
            await Html.RenderPartialAsync("_ProfilePasswordEditor", Model.ProfilePasswordEditor);
        }
    </article>
</section>
//#endif