@page
@model Index
@{
    ViewData["Title"] = "Home";
}

<section>
    <article>
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body space-y-6">
                <h1 class="text-3xl font-bold">
                    Build something beautiful
                </h1>
                <p>
                    Spark picks up where ASP.NET leaves off. Build production ready, full-stack web applications fast.
                </p>
                <p>
                    View the <a class="link" href="https://spark-framework.net" target="_blank">documentation →</a>
                </p>
            </div>
        </div>
    </article>
</section>