@page "/status-code/404"

<PageTitle>Page Not Found</PageTitle>

<section>
	<article class="">
		<div class="card bg-base-100 shadow-xl">
			<div class="card-body space-y-6">
				<h1 class="text-3xl font-bold">
					Page not found
				</h1>
				<p>This url provided doesn't exist.</p>
			</div>
		</div>
	</article>
</section>

@code
{
	[CascadingParameter] HttpContext HttpContext { get; set; } = default!;

	protected override void OnInitialized()
	{
		HttpContext.Response.StatusCode = 404;
	}
}
