@code {
    [CascadingParameter]
    public HttpContext Context { get; set; }
}
@if (Context.HasKey("success"))
{
    <div class="toast" remove-me="5s">
        <div class="alert alert-success">
            <span>@Context.GetFlash("success")</span>
        </div>
    </div>
}
@if (Context.HasKey("info"))
{
    <div class="toast" remove-me="5s">
        <div class="alert alert-info">
            <span>@Context.GetFlash("info")</span>
        </div>
    </div>
}
@if (Context.HasKey("warning"))
{
    <div class="toast" remove-me="5s">
        <div class="alert alert-warning">
            <span>@Context.GetFlash("warning")</span>
        </div>
    </div>
}
@if (Context.HasKey("error"))
{
    <div class="toast" remove-me="5s">
        <div class="alert alert-error">
            <span>@Context.GetFlash("error")</span>
        </div>
    </div>
}