@using Microsoft.AspNetCore.Components.Web
@namespace BlazorSpark.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    ﻿//#if (IsTailwind)
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    //#endif
    //#if (IsBootstrap)
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    //#endif
    //#if (IsPico)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@1/css/pico.min.css">
    //#endif
    <link href="css/site.css" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>
﻿//#if (IsTailwind)
<body class="bg-gray-50">
//#endif
﻿//#if (IsPico)
<body>
//#endif
﻿//#if (IsBootstrap)
<body class="bg-body-tertiary">
//#endif
    @RenderBody()
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
