@page "/"
@inject ILogger logger
﻿//#if (IsTailwind)
<section class="mx-auto max-w-6xl bg-white mb-20">
    <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
        <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-20">
            Build something beautiful
        </h1>
        <p class="text-base sm:text-xl text-gray-600 mb-6">
            Blazor Spark picks up where .NET Blazor leaves off. Build production ready, full-stack web applications fast.
        </p>
        <p class="text-base sm:text-xl text-gray-600 mb-6">
            View the <a class="text-indigo-600 font-semibold hover:underline" href="https://blazorspark.com" target="_blank">documentation →</a>
        </p>
    </article>
</section>
//#endif
﻿//#if (IsPico)
<section>
    <article>
        <h1>
            Build something beautiful
        </h1>
        <p>
            Blazor Spark picks up where .NET Blazor leaves off. Build production ready, full-stack web applications fast.
        </p>
        <p>
            View the <a href="https://blazorspark.com" target="_blank"><strong>documentation →</strong></a>
        </p>
    </article>
</section>
//#endif
﻿//#if (IsBootstrap)
<section class="container py-5 my-5 text-left">
    <article class="p-5 my-5 shadow rounded text-left bg-white">
        <h1 class="mb-5 fw-bold">
            Build something beautiful
        </h1>
        <p class="">
            Blazor Spark picks up where .NET Blazor leaves off. Build production ready, full-stack web applications fast.
        </p>
        <p class="">
            View the <a class="link-primary" href="https://blazorspark.com" target="_blank">documentation →</a>
        </p>
    </article>
</section>
//#endif
@code {

    protected override async Task OnInitializedAsync()
    {
        logger.Information($"Initialized at {DateTime.Now}");
    }
}