@inherits LayoutComponentBase
@inject UsersService userService

<PageTitle>BlazorSpark</PageTitle>

<CascadingValue Value="this">
	<NavMenu />

	<main>
		@Body
	</main>

	<Footer />
</CascadingValue>

@code {
	public User? User = new User();

	protected override async Task OnInitializedAsync()
	{
		User = await userService.GetAuthenticatedUser();
	}
}
