@page "/dashboard"
@attribute [Authorize]
﻿//#if (IsTailwind)
<section class="mx-auto max-w-6xl bg-white mb-20">
    <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
        <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-20">
            User Dashboard for @user.Name
        </h1>
    </article>
</section>
//#endif
﻿//#if (IsPico)
<section>
    <article>
        <h1>
            User Dashboard for @user.Name
        </h1>
    </article>
</section>
//#endif
﻿//#if (IsBootstrap)
<section class="container py-5 my-5 text-left">
    <article class="p-5 my-5 shadow rounded text-left bg-white">
        <h1 class="mb-5 fw-bold">
            User Dashboard for @user.Name
        </h1>
    </article>
</section>
//#endif
@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }
    private User? user => Layout.User;
}