@page "/"

<PageTitle>Home page</PageTitle>

<section class="mx-auto max-w-6xl bg-white mb-20">
    <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
        <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-8 sm:mb-20">
            Build something beautiful
        </h1>
        <p class="text-base sm:text-xl text-gray-600 mb-6">
            Spark picks up where ASP.NET leaves off. Build production ready, full-stack web applications fast.
        </p>
        <p class="text-base sm:text-xl text-gray-600 mb-6">
            View the <a class="text-indigo-600 font-semibold hover:underline" href="https://spark-framework.net" target="_blank">documentation →</a>
        </p>
    </article>
</section>