@page "/admin/dashboard"
@attribute [Authorize]

<PageTitle>Admin Dashboard</PageTitle>

<AuthorizeView Roles="@CustomRoles.Admin">
    <Authorized>
        <section class="mx-auto max-w-6xl bg-white mb-20">
            <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
                <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-20">
                    Admin Dashboard
                </h1>
            </article>
        </section>
    </Authorized>
    <NotAuthorized>
        <section class="mx-auto max-w-6xl mb-20">
            <div class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 text-center">
                <p class="text-base sm:text-xl text-gray-600">Sorry, you do not have the proper permissions to access this page.</p>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>