@page "/admin"
@attribute [Authorize(Roles = CustomRoles.Admin)]

<PageTitle>Admin Dashboard</PageTitle>

<section>
	<article class="">
		<div class="card bg-base-100 shadow-xl">
			<div class="card-body space-y-6">
				<h1 class="text-3xl font-bold">
					Admin Dashboard
				</h1>
				<p>
					Only users with the admin role can access this page.
				</p>
			</div>
		</div>
	</article>
</section>