@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <Vite />
    <HeadOutlet />
</head>

<body hx-boost="true" hx-ext="remove-me" class="bg-gray-100 flex flex-col min-h-screen">
    <NavBar />
    <main class="container py-20 px-4 md:px-12 max-w-6xl w-full mx-auto">
        @Body
    </main>
    <FlashMessages />
    <Debug />
</body>
</html>
