@page "/profile/edit"
@attribute [Authorize]

<PageTitle>Edit Profile</PageTitle>

<section>
	<article class="space-y-4">
		<h1 class="text-3xl font-bold">
			Edit Profile
		</h1>
		<p>Update your account's profile information</p>
		<div class="space-y-12">
			<div class="card bg-base-100 shadow-xl">
				<div class="card-body">
					<h2 class="text-xl font-bold">Profile Info</h2>
					<UpdateProfileForm />
				</div>
			</div>
			<div class="card bg-base-100 shadow-xl">
				<div class="card-body">
					<h2 class="text-xl font-bold">Update Password</h2>
					<UpdatePasswordForm />
				</div>
			</div>
		</div>
	</article>
</section>