<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<partial name="_Vite" />
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
	<main>
		@RenderBody()
	</main>
</body>
</html>