<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link href="css/site.css" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-gray-50">
    <main>
        @RenderBody()
    </main>
</body>
</html>
