﻿//#if (IsTailwind)
<footer class="max-w-6xl mx-auto py-20 px-6">
	<p class="text-base sm:text-xl text-gray-600 mb-6">footer</p>
</footer>
//#endif
﻿//#if (IsPico)
<footer class="container">
	<p>footer</p>
</footer>
//#endif
﻿//#if (IsBootstrap)
<footer class="container">
	<p>footer</p>
</footer>
//#endif