@inherits LayoutComponentBase

<PageTitle>@AppName</PageTitle>

<CascadingValue Value="this">
    <NavMenu />
    ﻿//#if (IsTailwind)
    <main class="container px-6 max-w-6xl mx-auto py-12">
        @Body
    </main>
    //#endif
    ﻿//#if (IsPico)
    <main class="container">
        @Body
    </main>
    //#endif
    ﻿//#if (IsBootstrap)
    <main>
        @Body
    </main>
    //#endif
</CascadingValue>