@inherits LayoutComponentBase
@inject UsersService userService

<PageTitle>@Env.Get("APP_NAME")</PageTitle>

<CascadingValue Value="this">
    <NavMenu />
    ﻿//#if (IsTailwind)
    <main class="container px-6 mx-auto py-20">
        @Body
    </main>
    //#endif
    ﻿//#if (IsPico)
    <main class="container">
        @Body
    </main>
    //#endif
    ﻿//#if (IsBootstrap)
    <main>
        @Body
    </main>
    //#endif
    <Footer />
</CascadingValue>

@code {
    public User? User = new User();

    protected override async Task OnInitializedAsync()
    {
        User = await userService.GetAuthenticatedUser();
    }
}