@page "/admin/dashboard"
@attribute [Authorize]
<AuthorizeView Roles="@CustomRoles.Admin">
    <Authorized>
        <section class="max-w-5xl mx-auto py-28 min-h-screen px-4">
            <article>
                <h1 class="text-2xl font-bold text-gray-800">
                    Admin Dashboard
                </h1>
            </article>
        </section>
    </Authorized>
    <NotAuthorized>
        <div class="min-h-screen flex w-full justify-center items-center">
            <p class="text-lg">Sorry, you do not have the proper permissions to access this page.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>
