@page "/dashboard"
@attribute [Authorize]
<section class="max-w-5xl mx-auto py-28 min-h-screen px-4">
    <article>
        <h1 class="text-2xl font-bold text-gray-800">
            User Dashboard
        </h1>
    </article>
</section>

